Chatbot AI Agent.json
{
  "name": "Chatbot AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7dd955ab-8144-4fc4-9d9e-7552b10015dd",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -32
      ],
      "id": "c4c7bbdc-9975-4be3-ac9c-c45ef901df64",
      "name": "Webhook",
      "webhookId": "7dd955ab-8144-4fc4-9d9e-7552b10015dd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16,
        -32
      ],
      "id": "bf1caaf3-500b-473e-9d15-43a57b864e27",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        144
      ],
      "id": "aec84702-47af-4c76-94a0-def00d4110f6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7bLSCGaskkGFSSv0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"message\": \"Ai reply\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        192
      ],
      "id": "a73ebffb-b559-48e0-952c-382bf6e7c173",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        -32
      ],
      "id": "1a30e030-b9eb-41a9-99ca-afd2bd1fe9c1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        352
      ],
      "id": "480263c9-f582-4f59-b2bf-32e8e501f51a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "7bLSCGaskkGFSSv0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2a07119-3eca-4ced-83b4-4693f2083609",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "@AI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        -32
      ],
      "id": "86e1eb9d-3f3c-44d6-a329-89623a8ab8e0",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4d0f49e-9f03-46fc-9c16-16247044f73c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26e8ec2dfaf4e7b3b6d872b1d69dd97b4e44e5a89231256f30aa1b8a2e21d8ac"
  },
  "id": "aIBzDZE9ahq9NeOk",
  "tags": []
}